:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 2em;

    > .counter {
        align-self: flex-start;
    }

    > mat-spinner {
        margin: 4em;
    }
}