:host {
    width: calc(100% - 4em);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 2em;

    .error-container {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: 75%;
        object-fit: contain;
    }
    .detail {
        padding: 1em;

        .header-column {
            font-weight: bold;
            margin-right: 1em;
        }
        .plot {
            margin-top: 2em;
        }
    }

    > mat-spinner {
        margin: 4em;
    }
}